
/**
 * Gets the '${this.nodeSimpleName}' property of the '${this.context.nodeSimpleName}' ${this.context.nodeType}.
 * ${this.umlDoc}
 * @return '${this.nodeSimpleName}' property of '${this.context.nodeSimpleName}' ${this.context.nodeType}
 */
$this.type ${this.getterName}();

#if (${this.needSetter})
/**
 * Sets the '${this.nodeSimpleName}' property of the '${this.context.nodeSimpleName}' ${this.context.nodeType}.
 * ${this.umlDoc}
 * @param ${this.fieldName} new value for the '${this.nodeSimpleName}' property
 */
void set${this.name}($this.type $this.fieldName);
#end